{{ $id := .Ordinal }}
{{ $content := .Inner | markdownify }}
{{ $content := replaceRE `<a href="(http[^"]+)"` `<a href="$1" target="_blank" rel="noopener noreferrer"` $content | safeHTML }}
<a href="#ref-{{ $id }}" class="sidenote-number sidenote-number-mobile" aria-label="Reference {{ $id }}"></a>
<a href="#sn-{{ $id }}" class="sidenote-number sidenote-number-desktop" aria-label="Reference {{ $id }}"></a>
<span class="sidenote" id="sn-{{ $id }}">{{ $content }}</span>
<span class="sidenote-reference" id="ref-{{ $id }}" data-ref="{{ $id }}">{{ $content }}</span>
