/* Use smaller sizes on mobile devices. */
/* Media query for screens less than 600px wide */
@media screen and (max-width: 600px) {
html {
    margin-left: 1%;
    margin-right: 1%;
  }
}

.title-link {
  text-decoration: none;
}

.clean-link:before {
  content: "";
}

a:hover {
  -webkit-text-stroke-width: 0.3px;
}

button:hover {
  -webkit-text-stroke-width: 0.3px;
}

.my-name:before,
.my-name:after {
  content: "";
}

.lower-case {
  text-transform: none;
}

.tucked {
  margin-left: 2.6rem;
}

.employer {
  margin-bottom: 0rem;
}

.no-top-margin {
  margin-top: 0.5rem;
}

.no-bottom-margin {
  margin-bottom: 0.5rem;
}

.display-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.pill {
  margin-top: 0;
  padding: 0.7rem 1.1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: white;
  color: black;
  border-radius: 8px;
}

.space-out-start {
  margin-left: 2rem;
}

.space-out-end {
  margin-right: 2rem;
}

.glider {
  position: absolute;
  bottom: 2rem;
  right: -7rem;
}

